.blogContainer {
  composes: pageContainer from './Page.module.scss';
  
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-gutter);
  }
}