.postContainer {
  max-width: 48rem;
  margin: 0 auto;
  composes: pageContainer from './Page.module.scss';
}

.postTitle {
  font-family: var(--font-headline);
  font-size: 1.5em;

  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

.postContent {
  font-size: 1.375rem;
  line-height: 1.5;
}

.postFeaturedImage {
  composes: featuredImage from './FeaturedImage.module.scss';
  margin-top: 20px;
}